### This notebook contains the code relevant for data cleaning and processing. It also includes some basic plots and summary statistics.

In [1]:
%matplotlib inline

import re
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime
import climate_change_util as cc #Importing util file with functions as module

##### Reading and cleaning the OECD dataset

In [2]:
oecd = pd.read_csv('./Data/MUNW_27112022020812290.csv', usecols=[0,1,3,5,7,9,11,12,14])

##### Cleaning and reshaping using the functions created in the climate_change_util script

In [3]:
oecd = cc.clean_data(oecd,['Country','Variable'])

In [4]:
oecd.head()

,COU,Country,Variable,Year,Unit,PowerCode,Reference Period,Value,Flags
0,AUS,Australia,Municipal waste generated,1992,Tonnes,Thousands,NaN,12000.000,NaN
1,AUS,Australia,Municipal waste generated,2000,Tonnes,Thousands,NaN,13200.000,NaN
2,AUS,Australia,Municipal waste generated,2007,Tonnes,Thousands,NaN,12885.684,NaN
3,AUS,Australia,Municipal waste generated,2008,Tonnes,Thousands,NaN,13096.500,Estimated value
4,AUS,Australia,Municipal waste generated,2009,Tonnes,Thousands,NaN,13343.236,NaN

In [5]:
oecd_reshaped = cc.long_to_wide(oecd,['Year','COU','Country'],'Variable','Value',['Country', 'Year'])

In [6]:
oecd_reshaped.head()

Variable                               % Composting  % Disposal  \
Year COU Country
1990 AUT Austria                             23.171      56.277
     BEL Belgium                              5.983      66.751
     CHE Switzerland                          6.341      22.680
     CHN China (People's Republic of)           NaN         NaN
     DEU Germany                                NaN         NaN

Variable                               % Incineration  \
Year COU Country
1990 AUT Austria                                8.881
     BEL Belgium                               45.039
     CHE Switzerland                           48.773
     CHN China (People's Republic of)             NaN
     DEU Germany                                  NaN

Variable                               % Incineration with energy recovery  \
Year COU Country
1990 AUT Austria                                                     8.881
     BEL Belgium                                                    22.141
     CHE Switzerland                                                48.773
     CHN China (People's Republic of)                                  NaN
     DEU Germany                                                       NaN

Variable                               % Incineration without energy recovery  \
Year COU Country
1990 AUT Austria                                                          NaN
     BEL Belgium                                                       22.898
     CHE Switzerland                                                    0.000
     CHN China (People's Republic of)                                     NaN
     DEU Germany                                                          NaN

Variable                               % Landfill  \
Year COU Country
1990 AUT Austria                           56.277
     BEL Belgium                           43.853
     CHE Switzerland                       22.680
     CHN China (People's Republic of)         NaN
     DEU Germany                              NaN

Variable                               % Material recovery (Recycling + Composting)  \
Year COU Country
1990 AUT Austria                                                             34.529
     BEL Belgium                                                             11.108
     CHE Switzerland                                                         28.547
     CHN China (People's Republic of)                                           NaN
     DEU Germany                                                                NaN

Variable                               % Other disposal  % Other recovery  \
Year COU Country
1990 AUT Austria                                    NaN             0.313
     BEL Belgium                                    NaN               NaN
     CHE Switzerland                                NaN               NaN
     CHN China (People's Republic of)               NaN               NaN
     DEU Germany                                    NaN               NaN

Variable                               % Recovery  ...  \
Year COU Country                                   ...
1990 AUT Austria                           43.723  ...
     BEL Belgium                           33.249  ...
     CHE Switzerland                       77.320  ...
     CHN China (People's Republic of)         NaN  ...
     DEU Germany                              NaN  ...

Variable                               Municipal waste generated per capita  \
Year COU Country
1990 AUT Austria                                                    414.814
     BEL Belgium                                                    343.375
     CHE Switzerland                                                616.366
     CHN China (People's Republic of)                                   NaN
     DEU Germany                                                    630.670

Variable                               Municipal waste generated, Index 1990  \
Year COU Country
1990 AUT Austria                                                       100.0
     BEL Belgium                                                       100.0
     CHE Switzerland                                                   100.0
     CHN China (People's Republic of)                                  100.0
     DEU Germany                                                       100.0

Variable                               Municipal waste generated, Index 2000  \
Year COU Country
1990 AUT Austria                                                      68.963
     BEL Belgium                                                      71.131
     CHE Switzerland                                                  86.675
     CHN China (People's Republic of)                                 57.254
     DEU Germany                                                      94.408

Variable                               Municipal waste treated  \
Year COU Country
1990 AUT Austria                                        3513.0
     BEL Belgium                                        3961.0
     CHE Switzerland                                    4100.6
     CHN China (People's Republic of)                      NaN
     DEU Germany                                           NaN

Variable                               Other disposal  Other municipal waste  \
Year COU Country
1990 AUT Austria                                  NaN                  700.0
     BEL Belgium                                  NaN                  552.0
     CHE Switzerland                              NaN                 1681.0
     CHN China (People's Republic of)             NaN                    NaN
     DEU Germany                                  NaN                    NaN

Variable                               Other recovery  Recycling  \
Year COU Country
1990 AUT Austria                                 11.0      399.0
     BEL Belgium                                  NaN      203.0
     CHE Switzerland                              NaN      910.6
     CHN China (People's Republic of)             NaN        NaN
     DEU Germany                                  NaN        NaN

Variable                               Total Incineration  \
Year COU Country
1990 AUT Austria                                    312.0
     BEL Belgium                                   1784.0
     CHE Switzerland                               2000.0
     CHN China (People's Republic of)                 NaN
     DEU Germany                                      NaN

Variable                               Waste from households
Year COU Country
1990 AUT Austria                                      2504.0
     BEL Belgium                                      2884.0
     CHE Switzerland                                  2733.7
     CHN China (People's Republic of)                    NaN
     DEU Germany                                         NaN

[5 rows x 31 columns]

###### Convert the pivot table to dataframe

In [7]:
oecd_final = pd.DataFrame(oecd_reshaped.to_records())
oecd_final.tail()

,Year,COU,Country,% Composting,% Disposal,% Incineration,% Incineration with energy recovery,% Incineration without energy recovery,% Landfill,% Material recovery (Recycling + Composting),...,Municipal waste generated per capita,"Municipal waste generated, Index 1990","Municipal waste generated, Index 2000",Municipal waste treated,Other disposal,Other municipal waste,Other recovery,Recycling,Total Incineration,Waste from households
1195,2020,POL,Poland,12.030,41.047,NaN,20.250,1.269,39.779,38.702,...,346.581,118.192,107.287,13116.898,NaN,1828.615,NaN,3498.629,NaN,11288.283
1196,2020,PRT,Portugal,14.289,53.455,NaN,18.979,0.000,53.455,27.566,...,517.667,175.950,112.200,5070.835,0.000,0.000,0.000,673.228,NaN,0.000
1197,2020,SVK,Slovak Republic,13.720,49.755,NaN,7.952,0.004,49.751,42.287,...,433.292,NaN,172.838,2361.663,0.000,1029.008,0.147,674.654,NaN,1336.614
1198,2020,SVN,Slovenia,18.142,11.023,NaN,13.970,2.544,8.479,74.958,...,492.600,NaN,100.400,808.953,0.000,395.637,0.000,459.605,NaN,628.439
1199,2020,SWE,Sweden,18.262,0.475,NaN,60.597,0.000,0.427,38.576,...,441.597,139.369,118.203,4422.317,2.092,684.280,14.219,898.350,NaN,3775.526

##### Reading and cleaning the World Bank's WDI dataset

In [8]:
wdi = pd.read_csv('./Data/Data.csv')

In [9]:
wdi = wdi.drop(['Series Code'],axis=1)

In [10]:
wdi_clean = cc.clean_data(wdi,['Country Name','Series Name'])

In [11]:
wdi_long = cc.wide_to_long(wdi_clean,"YR",["index","Country Name","Country Code"],"Year",["Country Code", "Country Name", "Year", "Series Name", "YR"])

In [12]:
wdi_long.head()

  Country Code Country Name  Year                             Series Name   YR
0          ARG    Argentina  1980  CO2 emissions (metric tons per capita)  NaN
1          ARG    Argentina  1981  CO2 emissions (metric tons per capita)  NaN
2          ARG    Argentina  1982  CO2 emissions (metric tons per capita)  NaN
3          ARG    Argentina  1983  CO2 emissions (metric tons per capita)  NaN
4          ARG    Argentina  1984  CO2 emissions (metric tons per capita)  NaN

In [13]:
wdi_reshaped = cc.long_to_wide(wdi_long,['Year','Country Code','Country Name'],'Series Name','YR',['Year','Country Name'])

In [14]:
wdi_reshaped.head()

Series Name                                   CO2 emissions (metric tons per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                          NaN
     AFE          Africa Eastern and Southern                                    NaN
     AFG          Afghanistan                                                    NaN
     AFW          Africa Western and Central                                     NaN
     AGO          Angola                                                         NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Energy use (kg of oil equivalent per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                NaN
     AFE          Africa Eastern and Southern                             789.384320528797
     AFG          Afghanistan                                                          NaN
     AFW          Africa Western and Central                              569.830665834955
     AGO          Angola                                                  547.044521890499

Series Name                                   Forest area (sq. km)  \
Year Country Code Country Name
1980 ABW          Aruba                                        NaN
     AFE          Africa Eastern and Southern                  NaN
     AFG          Afghanistan                                  NaN
     AFW          Africa Western and Central                   NaN
     AGO          Angola                                       NaN

Series Name                                   GDP (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                           NaN
     AFE          Africa Eastern and Southern        333894467085.439
     AFG          Afghanistan                                     NaN
     AFW          Africa Western and Central         245386033779.559
     AGO          Angola                             22133386922.5976

Series Name                                   GDP growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                         NaN
     AFE          Africa Eastern and Southern      5.41938159928385
     AFG          Afghanistan                                   NaN
     AFW          Africa Western and Central       1.99542065752085
     AGO          Angola                                        NaN

Series Name                                   GDP per capita (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                                      NaN
     AFE          Africa Eastern and Southern                   1468.92096062617
     AFG          Afghanistan                                                NaN
     AFW          Africa Western and Central                    1574.17539390181
     AGO          Angola                                        2653.47289479177

Series Name                                   GDP per capita growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                                    NaN
     AFE          Africa Eastern and Southern                 2.37442217038561
     AFG          Afghanistan                                              NaN
     AFW          Africa Western and Central                 -0.76473427494092
     AGO          Angola                                                   NaN

Series Name                                    ...  \
Year Country Code Country Name                 ...
1980 ABW          Aruba                        ...
     AFE          Africa Eastern and Southern  ...
     AFG          Afghanistan                  ...
     AFW          Africa Western and Central   ...
     AGO          Angola                       ...

Series Name                                   Government expenditure on education, total (% of government expenditure)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Population density (people per sq. km of land area)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         333.872222222222
     AFE          Africa Eastern and Southern                                   15.5992323017681
     AFG          Afghanistan                                                   20.4782055409901
     AFW          Africa Western and Central                                    17.2325957518312
     AGO          Angola                                                        6.69069543595091

Series Name                                   Population growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                  0.208213685729551
     AFE          Africa Eastern and Southern             2.97433613234995
     AFG          Afghanistan                           -0.407658191922243
     AFW          Africa Western and Central              2.78142544618063
     AGO          Angola                                  3.45385947653688

Series Name                                   Population, female  \
Year Country Code Country Name
1980 ABW          Aruba                                    30806
     AFE          Africa Eastern and Southern          114440574
     AFG          Afghanistan                            6568227
     AFW          Africa Western and Central            78003993
     AGO          Angola                                 4115191

Series Name                                   Population, female (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                 51.2604622526915
     AFE          Africa Eastern and Southern                           50.3464941930698
     AFG          Afghanistan                                           49.1762587504211
     AFW          Africa Western and Central                            50.0403240214554
     AGO          Angola                                                 49.335186763678

Series Name                                   Population, total  \
Year Country Code Country Name
1980 ABW          Aruba                                   60097
     AFE          Africa Eastern and Southern         227305945
     AFG          Afghanistan                          13356500
     AFW          Africa Western and Central          155882270
     AGO          Angola                                8341290

Series Name                                   Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Poverty headcount ratio at national poverty lines (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Urban population (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         50.472
     AFE          Africa Eastern and Southern                         20.8449997980123
     AFG          Afghanistan                                                   15.995
     AFW          Africa Western and Central                          24.5185774336299
     AGO          Angola                                                        24.298

Series Name                                   Urban population growth (annual %)
Year Country Code Country Name
1980 ABW          Aruba                                        0.178188464900201
     AFE          Africa Eastern and Southern                   4.45422064112357
     AFG          Afghanistan                                   3.11083842471923
     AFW          Africa Western and Central                    4.89701529375728
     AGO          Angola                                        8.11256004063561

[5 rows x 21 columns]

In [15]:
wdi_reshaped = wdi_reshaped.rename({'Country Code': 'COU'})
wdi_reshaped.head()

Series Name                                   CO2 emissions (metric tons per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                          NaN
     AFE          Africa Eastern and Southern                                    NaN
     AFG          Afghanistan                                                    NaN
     AFW          Africa Western and Central                                     NaN
     AGO          Angola                                                         NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Energy use (kg of oil equivalent per capita)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                NaN
     AFE          Africa Eastern and Southern                             789.384320528797
     AFG          Afghanistan                                                          NaN
     AFW          Africa Western and Central                              569.830665834955
     AGO          Angola                                                  547.044521890499

Series Name                                   Forest area (sq. km)  \
Year Country Code Country Name
1980 ABW          Aruba                                        NaN
     AFE          Africa Eastern and Southern                  NaN
     AFG          Afghanistan                                  NaN
     AFW          Africa Western and Central                   NaN
     AGO          Angola                                       NaN

Series Name                                   GDP (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                           NaN
     AFE          Africa Eastern and Southern        333894467085.439
     AFG          Afghanistan                                     NaN
     AFW          Africa Western and Central         245386033779.559
     AGO          Angola                             22133386922.5976

Series Name                                   GDP growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                         NaN
     AFE          Africa Eastern and Southern      5.41938159928385
     AFG          Afghanistan                                   NaN
     AFW          Africa Western and Central       1.99542065752085
     AGO          Angola                                        NaN

Series Name                                   GDP per capita (constant 2015 US$)  \
Year Country Code Country Name
1980 ABW          Aruba                                                      NaN
     AFE          Africa Eastern and Southern                   1468.92096062617
     AFG          Afghanistan                                                NaN
     AFW          Africa Western and Central                    1574.17539390181
     AGO          Angola                                        2653.47289479177

Series Name                                   GDP per capita growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                                    NaN
     AFE          Africa Eastern and Southern                 2.37442217038561
     AFG          Afghanistan                                              NaN
     AFW          Africa Western and Central                 -0.76473427494092
     AGO          Angola                                                   NaN

Series Name                                    ...  \
Year Country Code Country Name                 ...
1980 ABW          Aruba                        ...
     AFE          Africa Eastern and Southern  ...
     AFG          Afghanistan                  ...
     AFW          Africa Western and Central   ...
     AGO          Angola                       ...

Series Name                                   Government expenditure on education, total (% of government expenditure)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Population density (people per sq. km of land area)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         333.872222222222
     AFE          Africa Eastern and Southern                                   15.5992323017681
     AFG          Afghanistan                                                   20.4782055409901
     AFW          Africa Western and Central                                    17.2325957518312
     AGO          Angola                                                        6.69069543595091

Series Name                                   Population growth (annual %)  \
Year Country Code Country Name
1980 ABW          Aruba                                  0.208213685729551
     AFE          Africa Eastern and Southern             2.97433613234995
     AFG          Afghanistan                           -0.407658191922243
     AFW          Africa Western and Central              2.78142544618063
     AGO          Angola                                  3.45385947653688

Series Name                                   Population, female  \
Year Country Code Country Name
1980 ABW          Aruba                                    30806
     AFE          Africa Eastern and Southern          114440574
     AFG          Afghanistan                            6568227
     AFW          Africa Western and Central            78003993
     AGO          Angola                                 4115191

Series Name                                   Population, female (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                 51.2604622526915
     AFE          Africa Eastern and Southern                           50.3464941930698
     AFG          Afghanistan                                           49.1762587504211
     AFW          Africa Western and Central                            50.0403240214554
     AGO          Angola                                                 49.335186763678

Series Name                                   Population, total  \
Year Country Code Country Name
1980 ABW          Aruba                                   60097
     AFE          Africa Eastern and Southern         227305945
     AFG          Afghanistan                          13356500
     AFW          Africa Western and Central          155882270
     AGO          Angola                                8341290

Series Name                                   Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Poverty headcount ratio at national poverty lines (% of population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                                      NaN
     AFE          Africa Eastern and Southern                                                NaN
     AFG          Afghanistan                                                                NaN
     AFW          Africa Western and Central                                                 NaN
     AGO          Angola                                                                     NaN

Series Name                                   Urban population (% of total population)  \
Year Country Code Country Name
1980 ABW          Aruba                                                         50.472
     AFE          Africa Eastern and Southern                         20.8449997980123
     AFG          Afghanistan                                                   15.995
     AFW          Africa Western and Central                          24.5185774336299
     AGO          Angola                                                        24.298

Series Name                                   Urban population growth (annual %)
Year Country Code Country Name
1980 ABW          Aruba                                        0.178188464900201
     AFE          Africa Eastern and Southern                   4.45422064112357
     AFG          Afghanistan                                   3.11083842471923
     AFW          Africa Western and Central                    4.89701529375728
     AGO          Angola                                        8.11256004063561

[5 rows x 21 columns]

###### Convert the pivot table to dataframe

In [16]:
wdi_final = pd.DataFrame(wdi_reshaped.to_records())

In [17]:
wdi_final.head()

,Year,Country Code,Country Name,CO2 emissions (metric tons per capita),"Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)","Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",Energy use (kg of oil equivalent per capita),Forest area (sq. km),GDP (constant 2015 US$),...,"Government expenditure on education, total (% of government expenditure)",Population density (people per sq. km of land area),Population growth (annual %),"Population, female","Population, female (% of total population)","Population, total",Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population),Urban population (% of total population),Urban population growth (annual %)
0,1980,ABW,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,333.872222222222,0.208213685729551,30806,51.2604622526915,60097,NaN,NaN,50.472,0.178188464900201
1,1980,AFE,Africa Eastern and Southern,NaN,NaN,NaN,NaN,789.384320528797,NaN,333894467085.439,...,NaN,15.5992323017681,2.97433613234995,114440574,50.3464941930698,227305945,NaN,NaN,20.8449997980123,4.45422064112357
2,1980,AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,20.4782055409901,-0.407658191922243,6568227,49.1762587504211,13356500,NaN,NaN,15.995,3.11083842471923
3,1980,AFW,Africa Western and Central,NaN,NaN,NaN,NaN,569.830665834955,NaN,245386033779.559,...,NaN,17.2325957518312,2.78142544618063,78003993,50.0403240214554,155882270,NaN,NaN,24.5185774336299,4.89701529375728
4,1980,AGO,Angola,NaN,NaN,NaN,NaN,547.044521890499,NaN,22133386922.5976,...,NaN,6.69069543595091,3.45385947653688,4115191,49.335186763678,8341290,NaN,NaN,24.298,8.11256004063561

###### Rename columns to have names for merging

In [18]:
wdi_final = wdi_final.rename(columns={'Country Code': 'COU', 'Country Name': 'Country'})

In [19]:
oecd_final.columns

Index(['Year', 'COU', 'Country', '% Composting', '% Disposal',
       '% Incineration', '% Incineration with energy recovery',
       '% Incineration without energy recovery', '% Landfill',
       '% Material recovery (Recycling + Composting)', '% Other disposal',
       '% Other recovery', '% Recovery', '% Recycling',
       'Amount designated for recovery operations', 'Bulky waste',
       'Composting', 'Disposal operations',
       'Electric and electronic equipment waste',
       'Household and similar waste', 'Incineration with energy recovery',
       'Incineration without energy recovery', 'Landfill',
       'Municipal waste generated', 'Municipal waste generated per capita',
       'Municipal waste generated, Index 1990',
       'Municipal waste generated, Index 2000', 'Municipal waste treated',
       'Other disposal', 'Other municipal waste', 'Other recovery',
       'Recycling', 'Total Incineration', 'Waste from households'],
      dtype='object')

In [20]:
wdi_final.columns

Index(['Year', 'COU', 'Country', 'CO2 emissions (metric tons per capita)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)',
       'Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)',
       'Energy use (kg of oil equivalent per capita)', 'Forest area (sq. km)',
       'GDP (constant 2015 US$)', 'GDP growth (annual %)',
       'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       'Government expenditure on education, total (% of GDP)',
       'Government expenditure on education, total (% of government expenditure)',
       'Population density (people per sq. km of land area)',
       'Population growth (annual %)', 'Population, female',
       'Population, female (% of total population)', 'Population, total',
       'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Urban population (% of total population)',
       'Urban population growth (annual %)'],
      dtype='object')

###### Merge both dataframes to have one large dataframe for processing.

In [21]:
merged_df = pd.merge(oecd_final, wdi_final, how='inner', left_on=['Year','COU'], right_on=['Year','COU'])

In [22]:
merged_df.head()

,Year,COU,Country_x,% Composting,% Disposal,% Incineration,% Incineration with energy recovery,% Incineration without energy recovery,% Landfill,% Material recovery (Recycling + Composting),...,"Government expenditure on education, total (% of government expenditure)",Population density (people per sq. km of land area),Population growth (annual %),"Population, female","Population, female (% of total population)","Population, total",Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population),Poverty headcount ratio at national poverty lines (% of population),Urban population (% of total population),Urban population growth (annual %)
0,1990,AUT,Austria,23.171,56.277,8.881,8.881,NaN,56.277,34.529,...,11.5131101608276,93.0422927775085,0.762001611316115,4005232,52.1660667580361,7677850,NaN,NaN,62.96,0.332494357748522
1,1990,BEL,Belgium,5.983,66.751,45.039,22.141,22.898,43.853,11.108,...,NaN,NaN,0.298235706313592,5090672,51.0733225104169,9967379,NaN,NaN,96.377,0.386473447431904
2,1990,CHE,Switzerland,6.341,22.680,48.773,48.773,0.000,22.680,28.547,...,17.181640625,169.888411039996,1.02687307219521,3437405,51.1859913754554,6715519,NaN,NaN,73.926,0.945758640258411
3,1990,CHN,China (People's Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,120.448249116415,1.46730321087928,552721134,48.6899610599665,1135185000,72,NaN,26.442,4.30967848070248
4,1990,DEU,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,227.517053819494,0.861969448764933,41104568,51.7474514630407,79433029,NaN,NaN,73.118,1.05636514177316

In [23]:
merged_df[['Country_x', 'Country_y']].head()

                      Country_x    Country_y
0                       Austria      Austria
1                       Belgium      Belgium
2                   Switzerland  Switzerland
3  China (People's Republic of)        China
4                       Germany      Germany

In [24]:
merged_df.columns.values

array(['Year', 'COU', 'Country_x', '% Composting', '% Disposal',
       '% Incineration', '% Incineration with energy recovery',
       '% Incineration without energy recovery', '% Landfill',
       '% Material recovery (Recycling + Composting)', '% Other disposal',
       '% Other recovery', '% Recovery', '% Recycling',
       'Amount designated for recovery operations', 'Bulky waste',
       'Composting', 'Disposal operations',
       'Electric and electronic equipment waste',
       'Household and similar waste', 'Incineration with energy recovery',
       'Incineration without energy recovery', 'Landfill',
       'Municipal waste generated',
       'Municipal waste generated per capita',
       'Municipal waste generated, Index 1990',
       'Municipal waste generated, Index 2000', 'Municipal waste treated',
       'Other disposal', 'Other municipal waste', 'Other recovery',
       'Recycling', 'Total Incineration', 'Waste from households',
       'Country_y', 'CO2 emissions (metric tons per capita)',
       "Educational attainment, at least Bachelor's or equivalent, population 25+, female (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, male (%) (cumulative)",
       "Educational attainment, at least Bachelor's or equivalent, population 25+, total (%) (cumulative)",
       'Energy use (kg of oil equivalent per capita)',
       'Forest area (sq. km)', 'GDP (constant 2015 US$)',
       'GDP growth (annual %)', 'GDP per capita (constant 2015 US$)',
       'GDP per capita growth (annual %)',
       'Government expenditure on education, total (% of GDP)',
       'Government expenditure on education, total (% of government expenditure)',
       'Population density (people per sq. km of land area)',
       'Population growth (annual %)', 'Population, female',
       'Population, female (% of total population)', 'Population, total',
       'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)',
       'Poverty headcount ratio at national poverty lines (% of population)',
       'Urban population (% of total population)',
       'Urban population growth (annual %)'], dtype=object)

###### Rename long column names for better readability.

In [25]:
merged_df = merged_df.rename(columns={'Country_x': 'Country', '% Composting': 'Composting%', '% Disposal': 'Disposal%',\
                                      '% Landfill': 'Landfill%', '% Material recovery (Recycling + Composting)': 'Material_recovery%',\
                                     '% Recovery': 'Recovery%', '% Recycling': 'Recycling%', 'Amount designated for recovery operations': 'Amt_for_recovery_operations',\
                                     'Electric and electronic equipment waste': 'Electronic_waste',\
                                     'Household and similar waste': 'Household_waste', 'Municipal waste generated': 'Municipal_waste_generated',\
                                     'Municipal waste generated per capita': 'Municipal_waste_generated_percapita',\
                                     'Municipal waste generated, Index 1990': 'Municipal_waste_generated_1990',\
                                     'Municipal waste generated, Index 2000': 'Municipal_waste_generated_2000',\
                                     'Municipal waste treated': 'Municipal_waste_treated', 'Total Incineration': 'Total_Incineration',\
                                     'Waste from households': 'Waste_from_households',\
                                     'CO2 emissions (metric tons per capita)':'CO2_emissions_percapita',\
                                     'Educational attainment, at least Bachelor\'s or equivalent, population 25+, female (%) (cumulative)': 'Female_education_attainment_bach',\
                                     'Educational attainment, at least Bachelor\'s or equivalent, population 25+, male (%) (cumulative)': 'Male_education_attainment_bach',\
                                     'Educational attainment, at least Bachelor\'s or equivalent, population 25+, total (%) (cumulative)': 'Total_education_attainment_bach',\
                                     'Energy use (kg of oil equivalent per capita)': 'Energy_use_percapita',\
                                     'Forest area (sq. km)': 'Forest_area',\
                                      'GDP (constant 2015 US$)': 'GDP_2015_USD', 'GDP growth (annual %)': 'GDP_growth%',\
                                      'GDP per capita (constant 2015 US$)': 'GDP_percapita_2015_USD', \
                                      'GDP per capita growth (annual %)': 'GDP_percapita_growth%', 'Government expenditure on education, total (% of GDP)': 'Education_expense_%_of_gdp',\
                                     'Government expenditure on education, total (% of government expenditure)': 'Education_expense_%_of_total_exp',\
                                     'Population density (people per sq. km of land area)': 'Population_density',\
                                     'Population growth (annual %)': 'Population_growth%', 'Population, female': 'Population_female',\
                                     'Population, female (% of total population)': 'Population_female_%', 'Population, total': 'Population_total',\
                                     'Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)': 'Poverty_headcount%_ppp',\
                                     'Poverty headcount ratio at national poverty lines (% of population)': 'Poverty_headcount%_national_line',\
                                     'Urban population (% of total population)': 'Population_urban%', 'Urban population growth (annual %)': 'Population_urban_growth%'})

###### Drop unnecessary columns.

In [26]:
clean_df = merged_df.drop(['% Incineration', '% Incineration with energy recovery', '% Incineration without energy recovery',\
                          '% Other disposal', '% Other recovery', 'Bulky waste', 'Disposal operations',\
                           'Incineration with energy recovery', 'Incineration without energy recovery',\
                          'Other disposal', 'Other municipal waste', 'Other recovery'],axis=1)

In [27]:
clean_df.head()

,Year,COU,Country,Composting%,Disposal%,Landfill%,Material_recovery%,Recovery%,Recycling%,Amt_for_recovery_operations,...,Education_expense_%_of_total_exp,Population_density,Population_growth%,Population_female,Population_female_%,Population_total,Poverty_headcount%_ppp,Poverty_headcount%_national_line,Population_urban%,Population_urban_growth%
0,1990,AUT,Austria,23.171,56.277,56.277,34.529,43.723,11.358,1536.0,...,11.5131101608276,93.0422927775085,0.762001611316115,4005232,52.1660667580361,7677850,NaN,NaN,62.96,0.332494357748522
1,1990,BEL,Belgium,5.983,66.751,43.853,11.108,33.249,5.125,1317.0,...,NaN,NaN,0.298235706313592,5090672,51.0733225104169,9967379,NaN,NaN,96.377,0.386473447431904
2,1990,CHE,Switzerland,6.341,22.680,22.680,28.547,77.320,22.207,3170.6,...,17.181640625,169.888411039996,1.02687307219521,3437405,51.1859913754554,6715519,NaN,NaN,73.926,0.945758640258411
3,1990,CHN,China (People's Republic of),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,120.448249116415,1.46730321087928,552721134,48.6899610599665,1135185000,72,NaN,26.442,4.30967848070248
4,1990,DEU,Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,227.517053819494,0.861969448764933,41104568,51.7474514630407,79433029,NaN,NaN,73.118,1.05636514177316

In [29]:
clean_df.shape

(1076, 44)

### Metadata
##### As of now, Pandas does not have a robust method to store metadata, so metadata are stored as comments for reference. 

1.Material_recovery% = (Recycling + Composting)%.

2.Municipal_waste_generated_1990 = Municipal waste generated, Index 1990.

3.Municipal_waste_generated_2000 = Municipal waste generated, Index 2000.

4.Household_waste = in Tonnes.

5.Waste_from_households = in Tonnes.

6.CO2_emissions_percapita = metric tons per capita.

7.Female_education_attainment_bach = Educational attainment, at least Bachelor\'s or equivalent, population 25+, female (%) (cumulative).

8.Male_education_attainment_bach = Educational attainment, at least Bachelor\'s or equivalent, population 25+, male (%) (cumulative).

9.Total_education_attainment_bach = Educational attainment, at least Bachelor\'s or equivalent, population 25+, total (%) (cumulative).

10.Energy_use_percapita = Energy use (kg of oil equivalent per capita).

11.Forest_area = Forest area (sq. km).

12.GDP_percapita_2015_USD = GDP (constant 2015 USD).

13.GDP_percapita_growth = GDP per capita growth (annual %).

14.Education_expense_%_of_gdp = Government expenditure on education, total (% of GDP).

15.Education_expense_%_of_total_exp = Government expenditure on education, total (% of government expenditure).

16.Population_density = Population density (people per sq. km of land area).

17.Population_growth% = Population growth (annual %).

18.Poverty_headcount%_ppp = Poverty headcount ratio at $2.15 a day (2017 PPP, \% of population).

19.Poverty_headcount\%_national_line = Poverty headcount ratio at national poverty lines (\% of population).

20.Population_urban\% = Urban population (\% of total population).

21.Population_urban_growth\% = Urban population growth (annual \%).

22.GDP_2015_USD = GDP (constant 2015 US$).

23.GDP_growth% = GDP growth (annual %).

##### Note: 

1.Some variables are measuring the same thing but with different values like Household_waste and Waste_from_households. No clear difference is known at this point. 

2.Due to differences in spellings, abbreviations of names etc., there are 2 country columns (one from each dataframe). For now, we will keep both and remove later if one proves better for graphs etc.

In [ ]:
clean_df.columns

###### Check dtypes and convert where necessary.

In [ ]:
clean_df.dtypes

In [ ]:
cc.convert_dtype(clean_df,['Female_education_attainment_bach','Male_education_attainment_bach','Total_education_attainment_bach',\
                       'GDP_growth%','GDP_percapita_growth%','Education_expense_%_of_gdp',\
                        'Education_expense_%_of_total_exp','GDP_percapita_2015_USD', 'GDP_2015_USD',\
                       'Population_growth%', 'Population_female_%', 'Poverty_headcount%_ppp',\
                       'Poverty_headcount%_national_line', 'Population_urban%', 'Population_urban_growth%',\
                       'CO2_emissions_percapita', 'Energy_use_percapita', 'Forest_area', 'Population_density'],\
                       ['Population_female', 'Population_total'],\
                       ['COU', 'Country','Country_y'])

In [ ]:
clean_df.dtypes

##### Summary statistics

In [ ]:
clean_df.describe()

In [ ]:
clean_df.isnull().sum()

##### Export final dataframe to csv for future use

In [ ]:
clean_df.to_csv('clean_df.csv')